In [2]:
data = "Pakistan Zindabad"
print(data)

Pakistan Zindabad

In [7]:
data = "Pakistan Zindabad 12345 &*^%$#@"
print(data)
print(type(data))

Pakistan Zindabad 12345 &*^%$#@
<class 'str'>

In [16]:
data = 'Pakistan Zindabad 12345 &*^%$#@ " Hello World'
print(data)
print(type(data))

Pakistan Zindabad 12345 &*^%$#@ " Hello World
<class 'str'>

# Assign Multiline String

In [10]:
abc = "Line1 Pakistan"\
"Line2 Pakistan"\
"Line3 Pakistan"

print(abc)
print(type(abc))

Line1 PakistanLine2 PakistanLine3 Pakistan
<class 'str'>

In [17]:
abc = """
line 1 Hello World 
line 2 Pakistan Zindabad
line 3 We love our Country
"""
print(abc)
print(type(abc))

line 1 Hello World
line 2 Pakistan Zindabad
line 3 We love our Country

<class 'str'>

In [14]:
abc = '''
line 1 Hello World 
line 2 Pakistan Zindabad
line 3 We love our Country
'''

print(abc)
print(type(abc))

line 1 Hello World
line 2 Pakistan Zindabad
line 3 We love our Country

<class 'str'>

# Concatenation and Text Formation

In [18]:
"1" + "1"

'11'

In [19]:
1 + 1

2

In [21]:
a = input("Enter no. 1")
b = input("Enter no. 2")

print(type(a), type(b))
print(a + b)

Enter no. 17
Enter no. 22
<class 'str'> <class 'str'>
72

# TypeCasting

In [25]:
a = "7"
print(a, type(a))


a = int(a) #converted string into integer
print( a, type(a))

a = float(a) #converted integer into float
print( a, type(a))

7 <class 'str'>
7 <class 'int'>
7.0 <class 'float'>

In [31]:
a = input("Enter no. 1 ")
b = input("Enter no. 2 ")
int (a)
int (b)
print(type(a), type(b))
print(a + b)

Enter no. 1 6
Enter no. 2 6
<class 'str'> <class 'str'>
66

In [32]:
a = int(input("Enter no.1: "))
b = int(input("Enter no.2: "))
print(type(a), type(b))
print(a + b)

Enter no.1: 8
Enter no.2: 8
<class 'int'> <class 'int'>
16

In [33]:
int("1") + 1

2

In [77]:
roll_no = 200
name = "Muhammad Waqas Khan"
fname = "Muhammad Tayyab Khan"
contact_no = "923303197142"

card = "NED UNIVERSITY \nStudent Roll No.:" + str(roll_no)+\
"\nStudent Name:" + name + "\nFather Name:" + fname +\
"\nContact No:"\
+ contact_no

print(card)

NED UNIVERSITY
Student Roll No.:200
Student Name:Muhammad Waqas Khan
Father Name:Muhammad Tayyab Khan
Contact No:923303197142

In [78]:
card = """
NED UNIVERSITY
Student Rollno: \t\t200
Student Name:  \t\t\tMuhammad Waqas Khan 
Father's Name: \t\t\tMuhammad Tayyab Khan
Contact Number:\t\t\t923303197142
"""

print(card)

NED UNIVERSITY
Student Rollno: 		200
Student Name:  			Muhammad Waqas Khan
Father's Name: 			Muhammad Tayyab Khan
Contact Number:			923303197142

In [1]:
roll_no = 200
name = "Muhammad Waqas Khan"
fname = "Muhammad Tayyab Khan"
contact_no = "923303197142"

card = """
NED UNIVERSITY
Student Rollno: {2}
Student Name:  {0}
Father's Name: {1}
Contact Number:{3}""".format(name,fname,roll_no,contact_no)
#                            0     1      2       3
print(card)

NED UNIVERSITY
Student Rollno: 200
Student Name:  Muhammad Waqas Khan
Father's Name: Muhammad Tayyab Khan
Contact Number:923303197142

In [2]:
roll_no = 200
name = "Muhammad Waqas Khan"
fname = "Muhammad Tayyab Khan"
contact_no = "923303197142"

card = f"""NED UNIVERSITY
Student Rollno: {roll_no}
Student Name:  {name}
Father's Name: {fname}
Contact Number: {contact_no}"""

print(card)

NED UNIVERSITY
Student Rollno: 200
Student Name:  Muhammad Waqas Khan
Father's Name: Muhammad Tayyab Khan
Contact Number: 923303197142

In [ ]:
roll_no = input("roll no")
name = input("Name:")
fname = input("Father's Name:")
contact_no = input("Contact no: ")

card = f """NED UNIVERSITY
Student Rollno: {roll_no}
Student Name:  {name}
Father's Name: {fname}
Contact Number: {contact_no}"""

print(card)

In [ ]:
%s string
%d number

roll_no = 111
name = "Muhammad Waqas Khan"
"Student name %s \n roll no: %d" %(name,roll_no)