In [4]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

# List

In [5]:
s1_name = "Hammad"
s2_name = "Visha"
s3_name = "Sadia"
s4_name = "M.A Rasheed"

print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)

Hammad
Visha
Sadia
M.A Rasheed

# List
* List Hetrogenous data type 
* List is dynamic in length 
* List consumes large memory 
* List has dynamic memory management

* Syntax: [element1, element2, element3,...]

In [16]:
#->            0       1         2            3   ->
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
#<-         -4       -3       -2          -1      <-
names

['Hammad', 'Visha', 'Sadia', 'M.A Rasheed']

# Extract Values from Iterative Data Types with Index Postion

* Syntax: list_variable [index]

In [18]:
names1 = input("Please insert your name with ',' separated: ")
print(names1)

names1.split(",")

Please insert your name with ',' separated: Juanid, Imran, Iqbal
Juanid, Imran, Iqbal

['Juanid', ' Imran', ' Iqbal']

In [32]:
names_input = input("Please insert your name with ',' separation: ")
names_input.split(",")

for i in names_input:
    print(i)

Please insert your name with ',' separation: Junaid Imran Jahanzeb Shahzeb
J
u
n
a
i
d

I
m
r
a
n

J
a
h
a
n
z
e
b

S
h
a
h
z
e
b

In [31]:
#->            0       1         2            3   ->
names = ["Hammad", "Visha", "Sadia", "M.A Rasheed"]
#<-         -4       -3       -2          -1      <-

#list_variable[index_number]

print(names[2])
print(names[-2])

Sadia
Sadia

# Slicing in list

* Syntax: list_variable[start:and:step]
* start = this number will be included
* and = excluded end -1
* step =  sequence/gap