#  Variables, Data Type and Strings

#### Sample


variable_name = value;

In [1]:
a = 1
b = 2

print(a + b)

3

In [8]:
name = "Waqas"
print(name)

print(type(name))
print(id(name))

Waqas
<class 'str'>
2914761409904

In [12]:
a = 20.9
b = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19}

print(a)
print (type(a))

print(b)
print (type(b))

20.9
<class 'float'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
<class 'set'>

# Dictionary

In [17]:
#Dictionary

a = {'bird':"Hawk",'animal':"Lion"}

print(a)
print (type(a))

{'bird': 'Hawk', 'animal': 'Lion'}
<class 'dict'>

# Dynamic Data Type Language

In [20]:
a = 7 #dynamic data type language
print (a, (type(a)), id(a))

a = '7' #string
print (a, (type(a)), id(a))

a = 7.0 #float
print (a, (type(a)), id(a))

7 <class 'int'> 2914682143152
7 <class 'str'> 2914688074096
7.0 <class 'float'> 2914789423504

# Shallow Copy

In [25]:
#Shallow Copy

x = 6
y = 6
z = 6

print(id(x))
print(id(y))
print(id(z))

2914682143120
2914682143120
2914682143120

# Deep Copy

In [23]:
#Deep Copy
a = 7
b = 8

print(id(a))
print(id(b))

2914682143152
2914682143184

# OPERATORS

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

## Arithmatic Operators

In [36]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Assignment Operators

In [37]:
df [1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [26]:
print(2 + 7, "Addition")
print(7 - 2, "Substraction")
print(2 * 7, "Multiplication")
print(7 / 2, "Division")

9 Addition
5 Substraction
14 Multiplication
3.5 Division

In [27]:
print(11 % 3)

2

In [28]:
print(2 ** 2)
print(2 ** 3)

4
8

In [31]:
7/2

3.5

In [34]:
a += 2
print(a)

12

# Comparision Operator

In [35]:
df [2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [40]:
a = 7
b = 9

print (a == b)

False

In [41]:
a = 7
b = 9

print (a > b)

False

In [42]:
a = 7
b = 9

print (a < b)

True

In [43]:
a = 10
b = 9

print (a >= b)

True

In [44]:
a = 10
b = 9

print (a <= b)

False

In [51]:
a == 10
b == 9

a != b

True

# Logic Operators

In [52]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

# AND Operator

In [2]:
#Logic  1       2         3       4
print(True and True and True and True) 
print(False and True and True and True)
print(True and False and True and False) 

print("In simple words")
print (0 and 0)
print (0 and 1)
print (1 and 0)
print (1 and 1)

True
False
False
In simple words
0
0
0
1

# OR Operation

In [1]:
#Logic  1       2         3       4
print(False or False or False or False) 
print(False or True or True or True)
print(True or False or True or False) 

print("In simple words")
print (0 or 0)
print (0 or 1)
print (1 or 0)
print (1 or 1)

False
True
True
In simple words
0
1
1
1